<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MultipleConcurrentCalls">
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="BusinessTier.BusinessServer" behaviorConfiguration="MultipleConcurrentCalls">
				<endpoint address="" binding="netTcpBinding" contract="BusinessTier.BusinessServerInterface" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8200/BusinessService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>